html { font-family: sans-serif; background: #eee; padding: 1rem; }
body {
    max-width: 1080px; 
    margin: 0 auto; 
    background: white; 
    border-radius: 10px;}
h1 { font-family: sans-serif; color: white; margin: 1rem 0; }

a { color: white; }
hl {
    font-weight: bold;
    font-size: 1.5em;
    border: none; 
    border-top: 1px solid lightgray;
    padding-top: 2em;}
nav {
    background: #002042;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid #003c7c; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash {
    margin: 1em 0;
    padding: 1em;
    background: white;
    border: 1px solid #007bff;
    margin-right: 600px;
    }
.warn {
    margin: 1em 0;
    padding: 1em;
    font-weight: bold;
    background: white;
    border: 2px solid #ff3700;
    margin-right: 350px;
    }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea, .content select { margin-bottom: 1em; }
.content input, .content select { margin-right: 600px; }
.content textarea {
    min-height: 12em;
    resize: vertical;
    margin-right: 200px;}
input.danger { color: #4fe84c; }
input[type=submit] {
    align-self: start;
    color: #007bff;
    padding: 10px 20px;
    background: white;
    border-radius: 10px;
    font-size: 1.1em;
    border: 1.5px solid #007bff;}